.button-container button {
    flex: 1; /* Заставляет кнопки занимать равное пространство */
    margin-right: 5px; /* Отступ между кнопками */
    padding: 10px; /* Увеличиваем отступы для кнопок */
    font-size: 16px; /* Размер шрифта */
    background-color: #f0f0f0; /* Цвет фона */
    color: black; /* Цвет текста */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закругляем углы */
    cursor: pointer; /* Указываем, что это кнопка */
}

#addPhraseButton {
    font-family: 'Yu Gothic Medium', monospace; /* Замените на нужный вам шрифт */
    font-size: 36px; /* Увеличьте размер шрифта */
}

.button-container button:last-child {
    margin-right: 0; /* Убираем отступ у последней кнопки */
}